# Ignore everything
*

# Allow only documentation
!.gitignore
!README.md
!privacy-policy.html
!LICENSE*
!.github/
!.github/**
!docs/
!docs/**

# Ignore docs build artifacts
docs/.vitepress/dist
docs/.vitepress/cache
docs/node_modules/
